{% extends "style.html" %}
{% block body %}

<br/>

<div class="ht-tm-element card text-left">
<div class="card-header">强烈建议使用谷歌浏览器
</div>
<div class="card-body">
<a href="https://sm.myapp.com/original/Browser/67.0.3396.62_chrome_installer.exe" target="_blank" class="ht-tm-element btn btn-outline-primary btn-lg">
<span class="fa fa-download mr-2"></span>
点我下载</a>
</div>
</div>

<br/>

<div class="ht-tm-element card text-left">
<div class="card-header">一些很棒的文献搜索引擎
</div>
<div class="card-body">
<a href="http://ac.scmor.com/" target="_blank" class="ht-tm-element btn btn-outline-primary btn-lg">
<span class="fa fa-download mr-2"></span>
谷歌学术</a>
<a href="http://scholar.chongbuluo.com/" target="_blank" class="ht-tm-element btn btn-outline-primary btn-lg">
<span class="fa fa-download mr-2"></span>
虫部落学术</a>
</div>
</div>

<br/>

<div class="ht-tm-element card text-left">
<div class="card-header">文献平台须知
</div>
<div class="card-body">
<p>1. 关于网站
<p>
平台目前提供文献的上传托管，提供文献的各种信息标注，如｛翻译，翻译人员，文献详情，文献上传者，文献上传时间等｝。提供文献的下载，整理等服务。</p>
<p>
目前是资料组在维护，将尽可能的维持服务可用。但由于服务器性能有限且托管于美国，所以夜间访问速度可能不佳，还望大家谅解。</p>
<p>2. 关于文件安全<p>
<p>
所有寄存在网站上的文献、翻译等信息都会被每日备份两次，具体备份时间为每日12:00和24：00，如非特别严重的不可抗力，数据的安全性是较高的。</p>
<p>3. 建议与反馈<p>
<p>
如果在使用过程中遇到问题或者有好的建议和意见，欢迎向维护人员反映。
</p>
</div>
</div>


{% endblock %}
